*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    padding: 10px 30px;
    background-color: #EE534F;
}

.header h5{
    font-weight: bold;
    font-family: Verdana, sans-serif;
    font-size: 28px;
    color: #fff;
}

.upper-box{
    width: 100%;
    height: 100px;
    /* background-color: aqua; */
    display: flex;
    padding: 30px;
}

.upper-box .left-box{
    width: 50%;
    height: 100%;
    /* background-color: rgb(39, 41, 41); */
}

.upper-box .left-box button,
.upper-box .right-box button{
    border: none;
    outline: none;
    background-color: #4286f5;
    padding: 13px;
    font-size: 18px;
    margin: 0 10px;
    color: #fff;
    font-family: Verdana, sans-serif;
    cursor: pointer;
}

.upper-box .right-box{
    width: 50%;
    height: 100%;
    display: flex;
}

.upper-box .right-box i{
    font-size: 25px;
    color: #4286F5;
    padding: 10px;
    margin-left: 35%;
}

.upper-box .right-box input{
    padding: 13px;
    outline: none;
    border: none;
    border-bottom: 3px solid #4286F5;
    width: 50%;
    /* font-weight: bold; */
    font-size: 16px;
    font-family: Verdana,  sans-serif;
}

.upper-box .right-box button{
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    margin: 0 10px;
    color: #fff;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    background-color: #EE534F;
}

.table-box{
    width: 100%;
    padding: 30px;
}

.table-box table{
    width: 100%;
    /* border: 1px solid #ccc; */
    border-top: none;
    border-left: none;
    border-right: none;
}

.table-box table tr th{
    border-right: 1px solid #ccc;
    padding: 30px 0 5px;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}

.table-box table tr td{
    border-right: 1px solid #ccc;
    padding: 10px 0 5px;
    font-family: Verdana, sans-serif;
    /* font-size: 20px; */
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.table-box table tr td button{
    border: none;
    outline: none;
    background-color: #4286f5;
    padding: 5px;
    width: 40%;
    font-size: 16px;
    /* margin: 0 10px; */
    color: #fff;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    /* background-color: #EE534F; */
    background-color: #4286f5;
}

/* modal section */
.modal{
    width: 60%;
    position: fixed;
    top: 55%;
    left: 50%;
    height: auto;
    /* background-color: aqua; */
    background-color: #f2f2f2;
    transform: translate(-50%, -50%);
    display: flex;
    border-top: 20px groove #4286F5;
    opacity: 0;
    z-index: -1;
    /* visibility: hidden; */
    transition: 0.5s ease-in-out;
}

.modal.active{
    opacity: 1;
    z-index: 1;
}

.modal .close-icon{
    position: absolute;
    right: -25px;
    top: -50px;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    color: #EE534F;
}

.modal .left-modal{
    width: 30%;
    height: 100%;
    background-color: #f2f2f2;
}

.modal .left-modal .img-box{
    width: 100%;
    height: 200px;
    /* background-color: red; */
    display: flex;
    padding: 25px;
    position: relative;
}

.modal .left-modal .img-box input{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 8px;
    top: 65px;
    opacity: 0;
}


.modal .left-modal .img-box i{
    font-size: 30px;
    padding: 10px;
    position: absolute;
    right: 8px;
    top: 65px;
    color: #4286F5;
}

.modal .left-modal .img-box img{
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

.modal .right-modal{
    width: 70%;
    width: 100%;
    /* background-color: rgb(143, 143, 206); */
    border-left: 3px groove #4286F5;
    padding: 30px;
}

.modal .right-modal .input-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.modal .right-modal .input-box label{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px;
    width: 30%;
    /* margin: 20px 0; */
}

.modal .right-modal .input-box input{
    width: 70%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    /* margin: 10px 0px; */
    background-color: #f2f2f2;
    border-bottom: 3px solid #4286F5;
}

.modal .right-modal .input-box button{
    outline: none;
    padding: 10px;
    font-size: 18px;
    margin: 0 10px;
    color: #fff;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    border: none;
    width: 40%;
    margin-top: 10px;
}

.modal .right-modal .input-box .register-btn{
    background-color: #649af0;
    /* transition: all 0.5s ease; */
}

/* .modal .right-modal .input-box .register-btn:hover{
    background-color: #0e5bd6;
} */

.modal .right-modal .input-box .update-btn{
    background-color: #EE534F;
}

.modal .right-modal .input-box button:disabled{
    filter: grayscale(80%);
}
